<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "it.engineering-associates.app9"
		versionCode="10"
		version   = "1.0.0">

	<!-- versionCode is optional and Android only -->

	<name>PhoneGap App9 - Drag Hammer</name>

	<description>
		Nona app di prova
	</description>

	<author href="https://www.engineering-associates.it" email="andrea.mauro@engineering-associates.it">
		Andrea Mauro
	</author>

	<icon src="icons/icon.gif" gap:platform="winphone" />
	<icon src="icons/icon.gif" gap:platform="winphone" gap:role="background" />
	<icon src="icons/icon.gif" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/icon.gif" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/icon.gif" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/icon.gif" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/icon.gif" gap:platform="webos" />
	<icon src="icons/icon.gif" gap:platform="webos" gap:role="mini" />


</widget>